@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
.container{
    background: url(analog\ clock.jpg);
    width: 70vmin;
    height: 70vmin;
    background-size: cover;
    margin: auto;
    position: relative;
}

.container .hour{
    width: 2.5%;
    height: 15%;
    top: 36%;
    left: 48.5%;
}

.container .min{
    width: 1.8%;
    height: 20%;
    top: 31%;
    left: 49%;
}

.container .sec{
    width: 1%;
    height: 30%;
    top: 21%;
    left: 49.5%;
}

.container .hour, 
.container .min,
.container .sec{
    background: black;
    position: absolute;
    border-radius: 50% 50% 10% 10%;
    transform-origin: bottom;
}